<div class="text-center margin">
    <label class="title-1 kaushan">Análisis</label>
</div>
<div class="container">
    <div class="col-md-12 perfil-box">
    	<div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-red">
                    <i class="glyphicon glyphicon-stats"></i>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-target="#a" data-toggle="tab">ICE</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="a">
                        <div>
                            <label class="title-2">Índice general de Confianza Empresarial</label>
                        </div>
                        <div class="row border margin">
                            <div>
                                <div class="col-md-6">
                                    <label>Selecciones el territorio</label>
                                    <select class="form-control margin" ng-options="territorio as territorio.nombre for territorio in territorios track by territorio.id" ng-model="selectedTerritorio"></select>
                                </div>
                                <div class="col-md-6">
                                    <label>Selecciones el periodo</label>
                                    <select class="form-control margin" ng-options="periodo as periodo.label for periodo in periodos track by periodo.id" ng-model="selectedPeriodo"></select>
                                </div>
                                <div class="col-md-12 margin-top">
                                    <button class="btn btn-primary center-block" ng-click="getInfo();"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Ver análisis</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-top text-left">
                            <table ng-show="info.length > 0" class="table">
                                <thead>
                                    <tr>
                                        <th class="title-2 kaushan" ng-bind="selectedTerritorio.nombre"></th>
                                        <th>Agricultura y pesca</th>
                                        <th>Industria manufacturera</th>
                                        <th>Comercio y reparación</th>
                                        <th>Turismo</th>
                                        <th>Otros servicios</th>
                                        <th>Indicador rubro</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="indicador in info">
                                        <td ng-bind="indicador.indicador"></td>
                                        <td class="text-center" ng-bind="indicador.agricola"></td>
                                        <td class="text-center" ng-bind="indicador.manufactura"></td>
                                        <td class="text-center" ng-bind="indicador.comercio"></td>
                                        <td class="text-center" ng-bind="indicador.turismo"></td>
                                        <td class="text-center" ng-bind="indicador.servicios"></td>
                                        <td class="text-center" ng-bind="indicador.rubro"></td>
                                    </tr>
                                </tbody>
                           </table> 
                           <div class="info-box" ng-show="noResults">
                               No hay resultados para mostrar.
                           </div>
                       </div>              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>