<!--div class="text-center margin">
    <label class="title-1 kaushan">Contestando encuesta</label>
</div-->
<!--div class="col-md-12 gestion-box">
    <center-->
        <div ng-show="preguntasEncuesta">
            <div><h2 class="subrayado">Evolución Real</h2></div>
            <div class="panelHorizontal" ng-repeat="pregunta in preguntasEncuesta">
                <div><h3 ng-bind="($index+1) + ' - ' + pregunta.enunciado"></h3></div>
                <div class="form-group">
                    <md-radio-group>
                        <div style="display: inline-block; text-align: left">
                            <md-radio-button ng-repeat="opciones in opcionesRespuesta" data-ng-value="opciones.valor" class="md-primary" ng-true-value="'true'" ng-false-value="'false'" data-ng-click="guardarRespuesta(pregunta, opciones, comentario, 1);">{{opciones.alternativa}}</md-radio-button>
                        </div>
                    </md-radio-group>
                </div>
                <div>
                    <textarea id="er-{{pregunta.pregunta_id}}" ng-show="pregunta.tipo" class="form-control marginH" name="enunciado" ng-required="true" placeholder="Comentarios" title="Comentarios" rows="3" maxlength="250"></textarea>
                </div>
            </div>
        </div>
        <hr class="style1">
        <div class="margin" ng-show="preguntasEncuestaEE">
            <div><h2 class="subrayado">Evolución Esperada</h2></div>
            <div class="panelHorizontal" ng-repeat="pregunta in preguntasEncuestaEE">
                <div><h3 ng-bind="($index+1) + ' - ' + pregunta.enunciado"></h3></div>
                <div class="form-group">
                    <md-radio-group>
                        <div style="display: inline-block; text-align: left">
                            <md-radio-button ng-repeat="opciones in opcionesRespuesta" data-ng-value="opciones.valor" class="md-primary" ng-true-value="'true'" ng-false-value="'false'" data-ng-click="guardarRespuesta(pregunta, opciones, comentario, 2);">{{opciones.alternativa}}</md-radio-button>
                        </div>
                    </md-radio-group>
                </div>
                <div>
                    <textarea id="ee-{{pregunta.pregunta_id}}" ng-show="pregunta.tipo" class="form-control marginH" name="enunciado" ng-required="true" placeholder="Comentarios" title="Comentarios" rows="3" maxlength="250"></textarea>
                </div>
            </div>
        </div>
        <hr class="style1">
        <div ng-show="mensaje" ng-class="styleEnviarEncuesta">{{msgEnviarEncuesta}}</div>
        <div class="margin-top" ng-show="botonEnviar">
            <center>
            <div class="border">
                <button data-ng-click="guardarEncuesta($event);" type="button" class="btn btn-primary">Enviar</button>
                <button data-ng-click="cancelarEncuesta($event);" type="button" class="btn btn-cancel">Cancelar</button>
            </div>
            </center>
        </div>
    <!--/center>
</div-->